---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>前端爱好者</li>
            <li>冥想</li>
            <li>读书</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">关注我</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://github.com/tthem-szf" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">随想</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              输出同输入一样重要，判断一个人是否掌握知识，看他能否将6岁的小朋友教会。
            </li>
            <li>始终保持好奇心。</li>
            <li>人生就是一个不断试错、复盘的过程。</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
